<template>

    <div v-show="headers" class="headers">
        <el-table ref="table" :data="headers" empty-text="No headers" :default-sort="{prop: 'name', order: 'ascending'}" class="table fill">
            <el-table-column property="name" label="Name" width="150" sortable>
            </el-table-column>
            <el-table-column property="value" label="Value" sortable>
            </el-table-column>
        </el-table>
        <button @click="doLayout">Do layout</button>
    </div>
</template>

<script src="./headers.ts"></script>